.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 40px;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hero-section-info {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.hero-section-info > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.hero-section-info-title {
  font-size: 48px;
  line-height: 1.2;
  color: var(--white);
  max-width: 576px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-section-info-description {
  font-size: 20px;
  line-height: 1.6;
  max-width: 576px;
  color: var(--white);
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
} */

.action-buttons-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-preview-img-container {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.hero-preview-img-container img {
  z-index: 10;
  width: 300px;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .hero-preview-img-container {
    display: none;
  }

  .hero-section-info {
    padding: 1.5rem;
    margin: 0 1rem;
  }

  .hero-section-info-title {
    font-size: 36px;
  }

  .hero-section-info-description {
    font-size: 16px;
  }
} */

/* Styles for company container and button */
.companies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-logo {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: stretch;
}

button:hover {
  background-color: #0056b3;
}
